<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- jQuery -->
    <script th:src="@{/vendors/jquery/jquery-1.11.1.min.js}"></script>
    <script th:src="@{/vendors/jquery/jquery_ui/jquery-ui.min.js}"></script>

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/skin/default_skin/css/theme.css}">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/fonts/icomoon/icomoon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/fonts/octicons/octicons.css}">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/vendors/dropzone/dropzone.css}">
    <meta name="csrf-token" content="XYZ123">

    <title>Title</title>
</head>
<body>
<div class="container">
    <header>
        <h1>UpLoad Bot</h1>
    </header>

    <div>
        <form id="upload-widget" method="post" action="/upload" class="dropzone" enctype="multipart/form-data">
            <div class="dz-message needsclick previewsContainer dropzone-previews" id="formNovoDropzone">
                <h1>
                    <p class="text-center">
                        <span class="fa fa-cloud-upload"></span>
                        <br>Arraste seus arquivos aqui <br>ou <br>Clique
                        <br>&nbsp;
                    </p>
                </h1>
            </div>
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" th:src="@{/vendors/dropzone/dropzone.js}"></script>
<script type="text/javascript" th:src="@{/app/UploadBot.js}"></script>
</body>
</html>