<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                <!--{"time": "%date{ISO8601}", "thread": "%thread", "level": "%level", "class": "%logger{36}", "message": "%message"}\n-->
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!--<appender name="AMQP"-->
              <!--class="org.springframework.amqp.rabbit.logback.AmqpAppender">-->
        <!--<layout>-->
            <!--<pattern>-->
                <!--{-->
                <!--"time": "%date{ISO8601}",-->
                <!--"thread": "%thread",-->
                <!--"level": "%level",-->
                <!--"class": "%logger{36}",-->
                <!--"message": "%message"-->
                <!--}-->
            <!--</pattern>-->
        <!--</layout>-->

        <!--&lt;!&ndash; RabbitMQ connection &ndash;&gt;-->
        <!--<host>34.205.146.238</host>-->
        <!--<port>30000</port>-->
        <!--<username>guest</username>-->
        <!--<password>guest</password>-->

        <!--<applicationId>api-service</applicationId>-->
        <!--<routingKeyPattern>api-service</routingKeyPattern>-->
        <!--<declareExchange>true</declareExchange>-->
        <!--<exchangeType>direct</exchangeType>-->
        <!--<exchangeName>ex_logstash</exchangeName>-->

        <!--<generateId>true</generateId>-->
        <!--<charset>UTF-8</charset>-->
        <!--<durable>true</durable>-->
        <!--<deliveryMode>PERSISTENT</deliveryMode>-->
    <!--</appender>-->


    <logger name="com.fiveware" level="fail" additivity="false">
        <appender-ref ref="CONSOLE" />
        <!--<appender-ref ref="AMQP" />-->
    </logger>


    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <!--<appender-ref ref="AMQP" />-->
    </root>

</configuration>