<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>


    <if condition='"production".equals("${spring.profiles.active}")'>
        <then>
            <logger name="com.fiveware" level="INFO" additivity="false">
                <appender-ref ref="CONSOLE" />
            </logger>

        </then>
        <else>
            <logger name="com.fiveware" level="fail" additivity="false">
                <appender-ref ref="CONSOLE" />
            </logger>
            <logger name="org.springframework" level="info" additivity="false">
                <appender-ref ref="CONSOLE" />
            </logger>
        </else>
    </if>


    <root level="error">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>